.webpage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    box-shadow: 2.5px 2.5px 5px gray;
    border: 1px solid black;
    height: 1000px;
    width: 850px;
}

.border {
    margin: 6% auto;
    border: 5px solid #3FC592;
    width: 650px;
    height: 0px;
    line-height: 25%
}

h1 {
    font-family: Proxima Nova;
}

p {
    font-family: Proxma Nova;
    color: #666666;
}

h2 {
    margin: 50px 0px 0px 0px;
    border: 1px solid black;
}

ul {
    margin: auto 0px;
    column-count: 2;
    border: 1px solid black;
}

li {
    margin: 5% 0px 0px 0px;
}